/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Algemene styling*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Achtergrond styling */
body{
    background-image: url(https://images6.alphacoders.com/321/thumb-1920-321927.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de posters */
img{
    width: 15%;
    margin-left: 4%;
    margin-top: 4em;
}

div img:hover{
    transform: scale(1.2);
    transition: all .2s ease
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de begin tekst */
.inleiding {
    margin: 0 auto;
   display: block;
    width: 40%;
    min-width: 40em;

    text-align: center;
    font-size: 1em;
    height: 10em;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de tekst */
h1{
    text-align: center;
    font-size: 3em;
}

p {
    margin: 0 auto;
   display: inline-block;
   width: 15%;
   margin-left: 4%;
   font-weight: 800;
   margin-bottom: 1em;
   font-size: 1.5em;
    text-align: center;
}

h2{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling van de navigatie */

#nav{
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
}

.navlink{
    text-decoration: none;
    font-size: 2.0em;
    font-weight: 800;
    display: inline-flex;
    justify-content: center;
    padding: 0 5% 0 5%;
}

.navlink:nth-child(2):hover{
    color: yellowgreen;
}

.navlink:nth-child(3):hover{
    color: #df030f;
}

.navlink:hover{
    transform: scale(1.2);
}

.navlink:nth-child(1):hover{

    color: #1F6032;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Styling voor tonen/verdwijnen andere serie*/

.hide {
    display: none;
}

.show{
    display: block;
}

body section {
    display: none;
}

.activeBrBa{
    background-color: #1F6032 ;
}