*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-image: url(https://images6.alphacoders.com/321/thumb-1920-321927.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;

}



img{
    width: 15%;
    margin-left: 4%;
    margin-top: 4em;
}

div img:hover{
    transform: scale(1.2);
    transition: all .2s ease
}



.inleiding {
    margin: 0 auto;
   display: block;
    width: 40%;
    min-width: 40em;
    text-align: center;
    font-size: 1em;
    height: 12%;
}

h1{
    text-align: center;

    font-size: 3em;
}

p {
    margin: 0 auto;
   display: inline-block;
   width: 15%;
   margin-left: 4%;
   font-weight: 800;
   margin-bottom: 2em;
   font-size: 1.5em;
    text-align: center;
}

h2{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#nav{
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

.navlink{
    text-decoration: none;
    font-size: 2.2em;
    font-weight: 800;

}
.navlink:nth-child(2):hover{
    color: #df030f;
}

.navlink:nth-child(2){
    margin-left: 20%;
}

.navlink:nth-child(1):hover{
    transform: scale(1.2);
    color: #1F6032;
}

.hide{
    display: none;
}

.show{
    display: block;
}

